
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Sora", sans-serif;
  letter-spacing: 0,5px; /* Adjust this value to increase/decrease space between letters */
  font-size: 28px; /* Adjust this value to increase/decrease the size of the text */
  /*color: rgb(255, 81, 0);*/
}

h2 {
  font-family: "Sora", sans-serif; 
  letter-spacing: 0px; /* Adjust this value to increase/decrease space between letters */
  font-size: 20px; /* Adjust this value to increase/decrease the size of the text */
  margin: 16px 0; /* 40 pixels above and below */
  font-weight: bold; /* or a numeric value like 700 or 900 */

}

h3 {
  font-family: "Sora", sans-serif; 
  letter-spacing: 0px; /* Adjust this value to increase/decrease space between letters */
  font-size: 16px; /* Adjust this value to increase/decrease the size of the text */
  margin: 20px 0px 0px; /* 20 pixels above, 10 pixels below */
  font-weight: 700; /* or a numeric value like 700 or 900 */
}

li {
  line-height: 45px;}

/* WAAROM WERKT DIT NIET */

.montserrat-bold {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}
.montserrat-semibold {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
  }

.roboto-thin {
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .appTitle{
    font-size:1.2em; 
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
  }

  .pageTitle{
    font-size:5em; 
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
  }